@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,200;1,500;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:wght@100&display=swap");

* {
  font-family: "Montserrat", sans-serif !important;
  font-size: 15px;
}
body {
  background-color: #0a192f; /* Set your desired background color */
}

/* .headr h1 {
  margin: 0 !important;
  padding: 0 !important;
} */
/* HOME */
.background-container {
  background-color: #0a192f; /* Set your desired background color */
  padding-left: 40px; /* Equivalent to px-40 */
  padding-right: 40px; /* Equivalent to px-40 */
  margin: 50px;
}

/* Responsive CSS */
@media (max-width: 640px) {
  .background-container {
    padding-left: 5px; /* Override padding for smaller screens */
    padding-right: 5px; /* Override padding for smaller screens */
  }
}

/* HOME */
/* INTRO */
.intro-container {
  /* border: solid 5px black; */
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.5rem;
}

.loading-spinner-container {
  height: 580px;
}

.loading-spinner {
  color: #36d7b7;
  width: 80px;
  height: 80px;
  position: relative;
  left: 460px;
  top: 250px;
}

.intro-welcome-text {
  color: #ffffff;
  font-size: 2.25rem;
  font-weight: 600;
}

.intro-name,
.intro-caption {
  font-size: 5.25rem;
  font-weight: 600;
}

.intro-name {
  color: #f97316;
}

.intro-caption {
  color: #ffffff;
}

.intro-description {
  color: #ffffff;
  width: 66.666667%;
  font-size: 1.125rem;
}

.intro-button {
  border: 2px solid #38a169;
  color: #ffffff;
  padding: 0.75rem 2.5rem;
  border-radius: 0.25rem;
  background-color: #38a169;
  text-decoration: none;
  
}

@media (min-width: 640px) {
  .intro-welcome-text {
    font-size: 1.875rem;
  }

  .intro-name,
  .intro-caption {
    font-size: 1.875rem;
  }

  .intro-description {
    font-size: 1rem;
  }
}

@media (min-width: 768px) {
  .intro-welcome-text {
    font-size: 2.5rem;
  }

  .intro-name,
  .intro-caption {
    font-size: 3rem;
  }

  .intro-description {
    font-size: 1.125rem;
  }
}

@media (min-width: 1024px) {
  .intro-welcome-text {
    font-size: 3rem;
  }

  .intro-name,
  .intro-caption {
    font-size: 4.5rem;
  }

  .intro-description {
    font-size: 1.25rem;
  }
}
/* INTRO */

/* ABOUT */
.about-container {
  padding-top: 2rem;
}

.about-section-title {
  color: #ffffff;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.about-content {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 1.5rem;
}

.about-lottie {
  width: 40%;
}

.about-description {
  color: #ffffff;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.about-skills {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about-skills-title {
  color: #38a169;
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
}

.about-skills-list {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}

.about-skill-item {
  border: 2px solid #38a169;
  padding: 0.75rem 1rem;
  border-radius: 0.25rem;
  /* height: fit-content */
  /* width: 70px; */
}

.about-skill-item-text {
  color: #38a169;
  font-size: 1rem;
}

@media (max-width: 768px) {
  .about-content {
    flex-direction: column;
    gap: 1rem;
  }

  .about-lottie {
    width: 100%;
  }

  .about-description {
    width: 100%;
  }
}
/* ABOUT */
/* EXPERIENCES */
.experiences-container {
  padding-top: 2rem;
}
.flex-container {
  display: flex;
  padding-top: 1.5rem; /* Adjust as needed */
  justify-content: flex-start;
  gap: 120px;
}
.experiences-section-title {
  color: #ffffff;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.experiences-list {
  display: flex;
  padding: 0;
  list-style: none;
  gap: 1.5rem;
}

.experience-item {
  cursor: pointer;
  width: 250px;
}

.experience-item h1 {
  font-size: 1.125rem;
  padding: 0 0.75rem;
  color: #ffffff;
  transition: color 0.3s ease;
}

.experience-item h1:hover,
.experience-item.selected h1 {
  font-size: 1.5rem;

  color: #38a169;
}

.experience-item.selected h1 {
  border-left: 4px solid #38a169;
  background-color: #1a7f5a31;
  margin-left: -3px;
}

.experience-details {
  display: flex;
  /* justify-content: flex-start; */
  align-items: center;
  gap: 4rem;
  /* border: 2px solid black; */
}
.experience-image {
  height: 10rem;
  width: 11rem;
}
.experience-title {
  color: #f97316;
  font-size: 2.5rem;
}

.experience-company {
  color: #38a169;
  font-size: 1.5rem;
}

.experience-description {
  color: #ffffff;
  font-size: 1.5rem;
}

@media (max-width: 768px) {
  /* Adjusting flex-direction for smaller screens */
  .flex-container {
    flex-direction: column;
    gap: 10px;
  }
  .experience-details {
    display: flex;
    /* flex-direction: column; */
    gap: 170px; /* Adjust as needed */
  }
  /* Adjusting font size for smaller screens */
  .experience-item h1 {
    font-size: 1rem;
  }

  .experience-title,
  .experience-company,
  .experience-description {
    font-size: 1.25rem;
  }
}
/* EXPERIENCES */
/* PROJECTS */
.projects-container {
  padding-top: 2rem;
  /* border: 2px solid black; */
}

/* Section Title */
.projects-section-title {
  color: #ffffff;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

/* Projects List */
.projects-list {
  
  display: flex;
  padding: 0;
  list-style: none;
  /* justify-content: space-between; */
}

/* Project Item */
.project-item {
  cursor: pointer;
  /* border: 2PX SOLID BLACK; */
  width: 250px;


}

.project-item h1 {
  font-size: 1.5rem;
  padding: 0 0.75rem;
  color: #ffffff;
  transition: color 0.3s ease;
}

.project-item.selected h1 {
  color: #38a169;
  border-left: 4px solid #38a169;
  background-color: #1a7f5a31;
  margin-left: -3px;
  

}

/* Project Details */
.project-details {
  
  display: flex;
  align-items: center;
  gap: 3.5rem;
}

/* Project Image */
.project-image {
  height: 18rem;
  width: 18rem;
}

/* Project Description */
.project-description {
  color: #ffffff;
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.project-description h1 {
  font-size: 2.5rem;

  color: #f97316;
}

.project-description p {
  font-size: 1.125rem; /* Adjust as needed */
}

/* Project Link */
.project-link {
  /* color: #f97316; */
  border: 2px solid #38a169;
  color: #ffffff;
  padding: 0.75rem 2.5rem;
  border-radius: 0.25rem;
  background-color: #38a169;
  text-decoration: none;
}

/* Responsive CSS */
@media (max-width: 768px) {
  /* Projects List for smaller screens */
  .projects-list {
    flex-direction: column;
    gap: 10px; /* Adjust as needed */
  }

  /* Adjusting font sizes for smaller screens */
  .project-item h1 {
    font-size: 1.5rem; /* Adjust as needed */
  }

  .project-description h1 {
    font-size: 1.25rem; /* Adjust as needed */
  }

  .project-description p {
    font-size: 1rem; /* Adjust as needed */
  }
}

/* PROJECTS */
/* CONTACT */
.contact-container {
  padding-top: 2rem;
}

/* Section Title */
.contact-section-title {
  color: #ffffff;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

/* Contact Content */
.contact-content {
  /* border: 2px solid black; */

  display: flex;
  /* justify-content: flex-start; */
  /* gap: 150px; */
  align-items: center;
}

/* Contact Details */
.contact-details {
  flex: 1;
  margin-right: 20px; /* Adjust as needed for spacing */
}

.contact-info {
  margin-bottom: 1rem;
}

.contact-braces {
  font-size: 1.25rem;
  color: #38a169;
}

.contact-detail {
  margin-left: 5px;
}

.contact-key {
  font-weight: bold;
  color: #38a169;
}

.contact-value {
  color: #38a169;
}

/* Contact Animation */
.contact-animation {
  /* flex: 1; */
  /* border:  2px solid red; */
  width: 1150px;

} 

/* Responsive CSS */
@media (max-width: 768px) {
  .contact-content {
    flex-direction: column;
  }

  .contact-details {
    margin-right: 0;
    margin-bottom: 20px; /* Adjust as needed for spacing */
  }

  .contact-animation {
    order: -1; /* Move animation above details on small screens */
  }
}
/* CONTACT */
/* LEFTSIDER */

.left-sider-container {
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 0 1.5rem;
}

.left-sider-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left-sider-links {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.left-sider-links a {
  color: #ccc;
  font-size: 1.5rem;
  text-decoration: none;
}

.left-sider-divider {
  width: 1px;
  height: 8rem;
  /* background-color: #125f63; */
}

@media (min-width: 640px) {
  .left-sider-container {
    position: static;
    padding: 0;
  }

  .left-sider-content {
    flex-direction: row;
    justify-content: center;
  }

  .left-sider-links {
    flex-direction: row;
  }

  .left-sider-divider {
    display: none;
  }
}

/* LEFTSIDER */
/* SECTION TITLE */
.section-title-container {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.section-title-text {
  font-size: 2.5rem;
  color: #f97316;
}

.section-title-divider {
  width: 10rem;
  height: 1px;
  background-color: #38a169;
}

@media (max-width: 768px) {
  .section-title-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .section-title-divider {
    width: 100%;
    height: 1px;
    margin-top: 1rem;
  }
}
/* SECTION TITLE */
.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0a192f;
  z-index: 10000;
}

.loader-text {
  display: flex;
  gap: 0.5rem;
  font-size: 3rem;
  font-weight: bold;
}

.loader-text h1 {
  margin: 0;
  font-size: 100px;
}

.loader-text h1:first-child {
  color: #f97316; /* Orange color for "M" */
}

.loader-text h1:last-child {
  color: #fff; /* White color for "T" */
}

@media (max-width: 768px) {
  .loader-text {
    font-size: 100px;
  }
}

/* SECTION TITLE */
/* HEADER */
.header-container {
  padding: 1.25rem;
  background-color: #0a192f;
  display: flex;
  justify-content: center;
}

.header-text {
  display: flex;
  align-items: center;
}

.header-text h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-right: 0.5rem;
}

.header-text .first-letter {
  color: #f97316; /* Secondary color for "M" */
}

.header-text .second-letter {
  color: #fff; /* White color for "T" */
}

@media (max-width: 768px) {
  .header-text h1 {
    font-size: 1.5rem;
  }
}
/* HEADER */
/* FOOTER */
.footer-container {
  padding-top: 2.5rem; 
  padding-bottom: 2.5rem;
}

/* Horizontal Line */
.horizontal-line {
  
  height: 1px;
  width: 100%;
  background-color: #4b5563; /* Equivalent to bg-gray-700 */
}

/* Footer Content */
.footer-content {
  
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 1.25rem; /* Equivalent to mt-10 */
  opacity: 0.7; /* Equivalent to opacity-70 */
}

/* Footer Title */
.footer-title {
  
  color: #ffffff; /* Equivalent to text-white */
}

/* Footer Text */
.footer-text {
  color: #ffffff; /* Equivalent to text-white */
}

/* Footer Name */
.footer-name {
  color: #ffffff; /* Equivalent to text-white */
}
/* For medium screens and above */
@media (min-width: 768px) {
  .footer-container {
    padding-top: 3.75rem; /* Adjust padding for responsiveness */
    padding-bottom: 3.75rem; /* Adjust padding for responsiveness */
  }

  .footer-content {
    margin-top: 2.5rem; /* Adjust margin for responsiveness */
  }
}

/* FOOTER */

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* admin intro */
.admin-container {
  background-color: white;
}




.save-button {
  padding: 10px;
  background-color: #007bff; /* primary color */
  color: white;
  border: none;
  cursor: pointer;
}